[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "codep"]
	path = codep
	url = https://github.com/guenardg/codep
[submodule "MPSEM"]
	path = MPSEM
	url = https://github.com/guenardg/mpsem
